.header--button {
    font-size: $secondary-font-size;
    padding: 10px 28px;
    transition: all 0.2s linear;
}

.footer--button {
    font-size: $secondary-font-size;
    padding: 12px 34px;
    border: none;
}

.button {
    @extend %button;
    &--light {
        color: $primary-white-color;
        background-color: $background-light-color;
        &:hover,
        &:focus {
            color: $button-accent-color;
        }
    }
    &--lighter {
        color: $primary-white-color;
        background-color: $background-lighter-color;
        border: 3px solid $primary-white-color;
        &:hover,
        &:hover {
            color: $primary-yelow-color;
            border-color: $primary-yelow-color;
        }
    }
}