.footer__field {
    display: flex;
    justify-content: flex-end;
    min-height: 40px;
}

.input {
    width: 230px;
    @include font-settings($primary-text-size, 1.6);
    margin: 0px;
    padding: 12px 0px 10px 12px;
    &::-webkit-input-placeholder {
        color: $input-text-color;
    }
}

.footer--input {
    border: 1px solid $input-border-color;
    border-right: 0px;
}