.footer__wrapper {
    flex-direction: row;
    @include center-flex('spbtw');
    border-top: 1px solid $border-light-color;
    padding: 11px 0px;
}

.footer__content {
    display: flex;
}

.footer__text {
    font-size: $secondary-font-size;
    margin: 0px 4px 0px;
}

.footer__link {
    font-size: $secondary-font-size;
    margin: 0px;
    @extend %link;
    cursor: pointer;
    &:hover,
    &:focus {
        color: $primary-red-color;
    }
}