.header {
    display: flex;
    min-height: 1000px;
    background-image: linear-gradient(0deg, $ligth-gradient-color, $dark-gradient-color), url('../images/bgr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .header {
            background-image: linear-gradient(0deg, $ligth-gradient-color, $dark-gradient-color), url('../images/bgr@2x.png');
        }
    }
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
    margin-bottom: 174px;
}

.header__content {
    padding: 0px 190px;
    margin-bottom: 230px;
}

.header__slogan {
    display: block;
    font-size: 72px;
    margin-bottom: 22px;
}

.header__title {
    @include font-settings(150px,
    1);
    margin: 0px 0px 98px;
}