.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0px;
}

.menu__item {
    position: relative;
    @extend %item;
    &:not(:nth-child(7n)) {
        margin-right: 52px;
    }
}

.menu__link {
    @extend %link;
    font-size: 14px;
    &::after {
        position: absolute;
        content: '';
        width: 0;
        height: 3px;
        background: $primary-yelow-color;
        bottom: -12px;
        left: 50%;
        transition: all 0.2s linear;
    }
    &:hover::after,
    &:focus::after {
        width: 100%;
        left: 0;
    }
    &:hover,
    &:focus {
        color: $primary-yelow-color;
    }
}

.menu__icon {
    @extend %icon;
    fill: $primary-white-color;
    &:hover,
    &:focus {
        fill: $primary-yelow-color;
    }
}