.menu-icons {
    position: absolute;
    width: 380px;
    height: 470px;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(0deg, $ligth-gradient-color, $dark-gradient-color);
    @include center-flex('all');
    @extend %list;
    transition: all 0.2s linear;
}

.menu-icons__item {
    @extend %item;
    background-color: $primary-yelow-color;
    &:not(:nth-of-type(4n)) {
        margin-right: 1px;
    }
}

.menu-icons__link {
    @include center-flex('all');
    width: 56px;
    height: 56px;
    fill: $primary-red-color;
    @extend %link;
    &:hover,
    &:focus {
        fill: $primary-white-color;
        background-color: $primary-red-color;
    }
}

.menu-icons__icon {
    width: 26px;
    height: 26px;
}