.how {
    @extend %content-width;
    text-align: center;
    &__title {
        @extend %title;
        margin-bottom: 35px;
        @media (min-width: 1280px) {
            text-align: left;
            margin-bottom: 55px;
        }
    }
    &__icon {
        width: 50px;
        height: 60px;
        fill: $main-color;
        margin-bottom: 5px;
    }
    &-list {
        margin-bottom: 50px;
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 35px;
        }
        @media (min-width: 1280px) {
            justify-content: space-between;
            margin-bottom: 80px;
        }
    }
    &-item {
        height: 267px;
        padding: 25px 25px 0;
        margin-bottom: 15px;
        box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
        @media (min-width: 768px) {
            width: 290px;
            margin-bottom: 20px;
        }
        @media (min-width: 768px) and (max-width: 1279px) {
            &:nth-child(odd) {
                margin-right: 20px;
            }
        }
        @media (min-width: 1280px) {
            width: 390px;
            height: 340px;
            padding: 35px 35px 0;
        }
        @media (min-width: 1680px) {
            width: 430px;
            height: 400px;
            padding: 35px 50px 0;
        }
        &:hover {
            background-color: $main-color;
            cursor: pointer;
            & .how__icon,
            .how-item__text,
            .how-item__title {
                fill: #fff;
                color: #fff;
            }
            & .how-item__title::after {
                background-color: #fff;
            }
        }
        &__title {
            @extend %list-font;
            color: unset;
            &::after {
                @extend %before;
                margin: 15px auto;
            }
        }
        &__text {
            @extend %primory-font;
        }
    }
}