.program {
    &-wrap {
        @extend .problem-wrap;
    }
    &-bg {
        @extend %bg;
        height: 1795px;
        z-index: -2;
        @media (min-width: 768px) {
            height: 1250px;
        }
        @media (min-width: 1280px) {
            height: 1232px;
        }
        @media (min-width: 1680px) {
            height: 1270px;
        }
        &-photo {
            position: absolute;
            width: fit-content;
            top: 1330px;
            right: 0;
            z-index: -1;
            @media (min-width: 768px) {
                top: 750px;
                right: 0;
            }
            @media (min-width: 1280px) {
                top: 600px;
                left: 0;
            }
            @media (min-width: 1680px) {
                top: 725px;
            }
            &::after {
                @extend %before;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
    &__title {
        @extend %content-width;
        @extend %title;
        color: #fff;
        letter-spacing: 1.2px;
        text-align: center;
        padding-top: 45px;
        margin-bottom: 35px;
        @media (min-width: 768px) {
            text-align: left;
        }
        @media (min-width: 1280px) {
            text-align: left;
            padding-top: 80px;
            margin-bottom: 45px;
        }
        @media (min-width: 1680px) {
            padding-top: 125px;
            margin-bottom: 85px;
        }
    }
    &__border {
        @media (min-width: 1280px) {
            border-top: 2px solid #546264;
        }
    }
    &-list {
        @extend %content-width;
        position: relative;
        margin: 0 auto 40px;
        counter-reset: section;
        @media (min-width: 768px) {
            margin-bottom: 170px;
        }
        @media (max-width: 1279px) {
            width: fit-content;
        }
        @media (min-width: 1280px) {
            display: flex;
            justify-content: space-between;
            padding-top: 45px;
            margin-bottom: 51px;
        }
        @media (min-width: 1680px) {
            padding-top: 70px;
            margin-bottom: 65px;
        }
    }
    &-item {
        position: relative;
        margin: 0 auto;
        padding-top: 15px;
        border-left: 2px solid #546264;
        @media (max-width: 767px) {
            padding: 15px 0 30px 30px;
        }
        @media (min-width: 768px) {
            display: flex;
        }
        @media (min-width: 768px) and (max-width: 1279px) {
            padding: 15px 0 45px 30px;
        }
        @media (max-width: 1279px) {
            &:last-child {
                border-left: 2px solid transparent;
            }
        }
        @media (min-width: 1280px) {
            display: block;
            border: none;
            width: 229px;
        }
        @media (min-width: 1680px) {
            width: 255px;
        }
        &:last-child {
            padding-bottom: 0;
        }
        &-wrap {
            @media (min-width: 768px) and (max-width: 1279px) {
                margin-right: 25px;
                width: 155px;
                &:last-child {
                    margin-right: 0;
                    width: 115px;
                }
            }
        }
        &::before {
            @extend %before;
            position: absolute;
            top: 0;
            left: -6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            @media (min-width: 1280px) {
                top: -55px;
                left: 0;
                width: 17px;
                height: 17px;
            }
            @media (min-width: 1680px) {
                top: -80px;
                width: 20px;
                height: 20px;
            }
        }
        &::after {
            position: absolute;
            top: -4px;
            left: 30px;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            counter-increment: section;
            content: "" counter(section) " Семестр";
            @media (min-width: 1280px) {
                font-size: 19px;
                left: 0;
            }
            @media (min-width: 1680px) {
                font-size: 21px;
            }
        }
        &__title {
            display: flex;
            align-items: center;
            color: $main-color;
            @extend %list-font;
            line-height: 1;
            padding: 15px 0;
            @media (min-width: 1280px) {
                padding-top: 40px;
            }
            &::before {
                @extend %before;
                margin-right: 12px;
            }
        }
        &__text {
            @extend %primory-font;
            @media (min-width: 1280px) and (max-width: 1679px) {
                font-size: 18px;
            }
        }
    }
}