$main-color: #ff6b08;
$primory-color: #858585;
$slave-color: #b9b9b9;
%primory-font {
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    color: $primory-color;
    @media (min-width: 1280px) {
        font-size: 15px;
        line-height: 30px;
    }
    @media (min-width: 1680px) {
        font-size: 19px;
        line-height: 31px;
    }
}

%list-font {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    @media (min-width: 1280px) {
        font-size: 18px;
        line-height: 29px;
    }
    @media (min-width: 1680px) {
        font-size: 21px;
        line-height: 33px;
    }
}

%button {
    width: 250px;
    height: 48px;
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    @media (min-width: 1280px) {
        width: 300px;
        height: 68px;
        font-size: 12px;
    }
    @media (min-width: 1680px) {
        width: 350px;
        font-size: 14px;
    }
    &:hover {
        cursor: pointer;
    }
}

%content-width {
    width: 280px;
    margin: 0 auto;
    @media (min-width: 768px) {
        width: 688px;
    }
    @media (min-width: 1280px) {
        width: 1210px;
    }
    @media (min-width: 1680px) {
        width: 1340px;
    }
}

%title {
    display: block;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    @media (min-width: 768px) {
        font-size: 26px;
    }
    @media (min-width: 1280px) {
        font-size: 42px;
        line-height: 56px;
    }
    @media (min-width: 1680px) {
        font-size: 46px;
        line-height: 62px;
    }
}

%before {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: $main-color;
}

%bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111517;
}

@mixin text ($size, $weight, $height, $color) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}