.why {
    @extend %content-width;
    &__title {
        @extend %title;
        width: 140px;
        color: #fff;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            width: unset;
            text-align: center;
        }
        @media (min-width: 1280px) {
            margin-bottom: 45px;
        }
    }
    &-list {
        @extend .problem-list;
        @media (min-width: 1680px) {
            margin-bottom: 115px;
        }
    }
    &-item {
        @extend .problem-item;
        &__text {
            @extend .problem-item__text;
        }
    }
}