html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-size: 15px;
    line-height: unset;
    font-family: 'Roboto', 'Montserrat', 'Kaushan Script', sans-serif;
    color: #999999;
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0px auto;
}


/* header */

.main-header {
    margin-bottom: 114px;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 64px;
}

.site-logo {
    margin-bottom: 12px;
}

.navigation-items {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-transform: uppercase;
}

.navigation-item {
    cursor: pointer;
    position: relative;
}

.navigation-item:not(:nth-of-type(5n)) {
    margin-right: 58px;
}

.nav-link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #95e1d3;
    text-align: center;
    padding-bottom: 9px;
}

.nav-link::after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background: #f38181;
    bottom: 0;
    left: 50%;
    transition: all 0.2s linear;
}

.nav-link:hover::after,
.nav-link:focus::after {
    width: 100%;
    left: 0;
    transition: all 0.2s linear;
}

.nav-link:hover,
.nav-link:focus {
    color: #f38181;
    transition: all 0.2s linear;
}

.site-logo:hover {
    background-color: rgb(234, 240, 239);
    transition: all 0.2s linear;
}

.site-logo:focus {
    background-color: rgb(234, 240, 239);
    transition: all 0.2s linear;
}


/* main */


/* Amazing Services */

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 94px 0px;
}

.title-slogan {
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Kaushan Script', sans-serif;
    font-weight: 400;
    color: #333333;
    margin-bottom: 18px;
    padding: 0px;
}

.section-title {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    margin: 0px 0px 64px;
    padding: 0px;
}

.section-title::after {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 38px auto 0px;
}

.servises {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.servise-item {
    flex: 0 0 380px;
    text-align: left;
    padding: 0px 10px 0px 80px;
    margin: 0px 10px 98px;
    background-repeat: no-repeat;
    background-position: 20px 0;
}

.servise-item::before {
    display: block;
    content: '';
}

.servise-item:nth-last-of-type(-n+3) {
    margin-bottom: 0px;
}

.icon-alarm {
    background-image: url(../img/alarm.png);
}

.icon-graph {
    background-image: url(../img/line-graph.png);
}

.icon-computer {
    background-image: url(../img/computer.png);
}

.icon-book {
    background-image: url(../img/book.png);
}

.icon-home {
    background-image: url(../img/home.png);
}

.icon-image {
    background-image: url(../img/image.png);
}

.title-item {
    font-size: 14px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    margin: 0px 0px 12px 0px;
    padding: 0px;
}

.text-item {
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #999999;
    margin: 0px;
    padding: 0px;
}


/* Meet our team */

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 82px;
}

.text-item-team {
    width: 954px;
    text-align: center;
    margin-bottom: 92px;
}

.team-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.team-item {
    background-repeat: no-repeat;
    background-image: url(../img/backgr1.png);
}

.cart-item {
    position: relative;
    transition: all 0.2s linear;
    bottom: 0;
    right: 0;
    margin-bottom: 28px;
}

.team-item:hover .cart-item {
    bottom: 10px;
    right: 10px;
}

.team-item:hover .icon-socials {
    opacity: 1;
}

.cart-item-graphic {
    background-image: url(../img/img1.png);
}

.cart-item-branding {
    background-image: url(../img/img2.png);
}

.cart-item-developer {
    background-image: url(../img/img3.png);
}

.icon-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 470px;
    opacity: 0;
    background: linear-gradient(0deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
    transition: all 0.2s linear;
    padding: 0px;
}

.team-link:not(:nth-of-type(4n)) {
    margin-right: 1px;
}

.icon-link {
    display: block;
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
}

.team-link {
    list-style: none;
    background-color: rgb(252, 227, 138);
}

.icon-link:hover,
.icon-link:focus {
    background-color: rgba(149, 225, 211, 1);
    transition: all 0.2s linear;
}

.icon-facebook {
    background-image: url(../img/facebook.png);
}

.icon-twitter {
    background-image: url(../img/twitter.png);
}

.icon-pinterest {
    background-image: url(../img/pinterest.png);
}

.icon-instagram {
    background-image: url(../img/instagram.png);
}

.team-item-name {
    font-size: 14px;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.team-item-occupation {
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
    padding: 0px;
}


/* footer */

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid #e5e5e5;
}

.footer-content {
    display: flex;
}

.footer-text {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
    margin: 0px 4px 0px;
}

.footer-link {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #333333;
    margin: 0px;
    cursor: pointer;
}

.footer-link:hover,
.footer-link:focus {
    color: #f38181;
    transition: all 0.2s linear;
}

.footer-field {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin: 0px;
}

.input-field {
    width: 230px;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 0px;
    padding: 12px 0px 10px 12px;
    border: 1px solid #e7e7e7;
    border-right: 0px;
}

input::-webkit-input-placeholder {
    color: #cccccc;
}

.button {
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: #95e1d3;
    padding: 12px 34px;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: rgb(234, 240, 239);
    transition: all 0.2s linear;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}