html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: $primary-text-size;
    line-height: $main-text-height;
    font-family: $main-font-stack;
    color: $primary-grey-color;
    margin: 0px;
    padding: 0px;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}