$main-color: #333333;
$main-font-size: 14px;
$main-font-family: 'Roboto',
sans-serif;
$primary-color: #ffffff;
$primary-font-family: 'Montserrat',
sans-serif;
$hover-color: #fce38a;
$slave-font-family: 'Kaushan Script',
cursive;
$slave-color: #f38181;