.footer {
    display: flex;
    font-family: $primary-font-family;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 62px;
    margin: 0 auto;
    border-top: 1px solid rgb(229, 229, 229);
}

.footer__link {
    @extend %link;
    color: $slave-color;
    &:hover {
        text-decoration: underline;
    }
}

.subscribe {
    display: flex;
    height: 40px;
}

.email {
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    width: 230px;
    height: 40px;
    border: none;
    outline: 1px solid rgb(229, 229, 229);
}

.submit {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    outline: 1px solid #95e1d3;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
    border: none;
    &:hover {
        cursor: pointer;
        outline: 1px solid grey;
    }
}