.typographic-mr {
    font-family: $font-family-monts;
    font-weight: $font-weight-regular;
}

.typographic-mb {
    font-family: $font-family-monts;
    font-weight: $font-weight-bold;
    text-align: center;
}

.typographic-rr {
    font-family: $main-font-roboto;
    font-weight: $font-weight-regular;
}

.typographic-ri {
    font-family: $main-font-roboto;
    font-weight: $font-weight-light;
    font-style: $font-style-italic;
}

.typographic-kr {
    font-family: $main-font-kaushanscr;
    font-weight: $font-weight-regular;
    text-align: center;
}

.text-ligth {
    color: $primary-white-color;
}

.text-grey {
    color: $primary-grey-color;
}

.text-dark {
    color: $primary-dark-color;
}

.title {
    text-transform: uppercase;
}