$main-font-stack:'Roboto',
'Montserrat',
'Kaushan Script',
sans-serif;
$font-family-monts: 'Montserrat',
sans-serif;
$main-font-roboto: 'Roboto',
sans-serif;
$main-font-kaushanscr: 'Kaushan Script',
sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-style-italic: italic;
$primary-text-size: 15px;
$secondary-font-size: 14px;
$main-text-height: 1.2;
$primary-white-color: rgb(255, 255, 255);
$primary-yelow-color: rgb(252, 227, 138);
$primary-red-color: rgb(243, 129, 129);
$primary-grey-color: rgb(153, 153, 153);
$primary-dark-color: rgb(51, 51, 51);
$background-light-color: rgb(149, 225, 211);
$background-lighter-color: rgba(0, 0, 0, 0);
$border-light-color: rgb(229, 229, 229);
$button-light-color: rgb(255, 255, 255);
$button-accent-color: rgb(234, 240, 239);
$input-text-color: rgb(204, 204, 204);
$input-border-color: rgb(231, 231, 231);
$ligth-gradient-color: rgba(252, 227, 138, 0.9);
$dark-gradient-color: rgba(243, 129, 129, 0.9);